In [41]:
import pandas as pd
data1 = {'prompt_id':[1,2,3,4,5],'text':['a','b','c','d','e']}
context_df = pd.DataFrame(data1,columns=['prompt_id','text'],index=[10,11,12,13,14])

In [42]:
context_df

    prompt_id text
10          1    a
11          2    b
12          3    c
13          4    d
14          5    e

In [46]:
context_df.iloc[2,0] = 'abc'

In [47]:
context_df

   prompt_id text
10       abc    a
11         2    b
12       abc    c
13         4    d
14         5    e

In [4]:
context_df.to_csv('sub.csv' ,index=False,mode='w')

In [ ]:
chunk_size = 1000
chunk_overlap = 100

r_splitter = RecursiveCharacterTextSplitter(
    chunk_size=chunk_size,
    chunk_overlap=chunk_overlap
)

split_text =[]
for i in range(len(context_df_test)):
    split_text.append ( r_splitter.split_text(context_df_test.iloc[i,'text']))
context_df_test['split'] = split_text